.interested-job-container {
    background-color: bisque;

    .board-title {
        color: orange;
        font-weight: bolder;
    }

    .job-container {
        border: 1px solid black;
        margin: 10px 0 10px 0;
        background-color: white;
    }

}